.table {
  border-collapse: collapse;
  font-size: 1.5rem;
  margin: auto;
  width: 90%;
}

th {
  position: relative;
  margin: auto;
}

.vocabRow:nth-of-type(2n) {
  background-color: #3614b1;
}
.vocabRow:nth-of-type(2n-1) {
  background-color: #5b46a5;
}

.GenkiVocabTable {
  margin-bottom: 5rem;
}

td {
  padding: 0.5rem 0;
}

.vocabRow:hover {
  animation: glowVocabHover 0.5s forwards;
}

@keyframes glowVocabHover {
  to {
    background-color: #7e6ac4;
  }
}

.kanjiRowKanji {
  font-size: 3rem;
}

.kanjiRow:nth-of-type(2n) {
  background-color: #121113;
}
.kanjiRow:nth-of-type(2n-1) {
  background-color: #231f32;
}

.kanjiRow:hover {
  animation: glowKanjiHover 0.5s forwards;
}

@keyframes glowKanjiHover {
  to {
    background-color: #2d2a2d;
  }
}

.vocabKanjiHead {
  background-color: #231f32;
}

.vocabKanjiRow {
  background-color: #0c071d;
}

.vocabKanjiInput {
  border: 0;
  border-radius: 25px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  width: 90%;
}

.kanjiKanjiInput {
  font-size: 5rem;
  width: 8rem;
}

.submitVocabKanji {
  border: 0;
  border-radius: 25px;
  background-color: #0e74e1;
  color: #fff;
  cursor: pointer;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.5rem;
}

.submitVocabKanji:hover {
  animation: submitVocabKanjiHover 0.5s forwards;
}

@keyframes submitVocabKanjiHover {
  to {
    background-color: #3091f9;
  }
}

.submitAll {
  border: 0;
  border-radius: 0 0 25px 25px;
  background-color: #a20ee1;
  color: #fff;
  cursor: pointer;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 2rem;
  width: 90%;
}

.submitAll:hover {
  animation: submitAllHover 0.5s forwards;
}

@keyframes submitAllHover {
  to {
    background-color: #c743ff;
  }
}
