.Hiragana,
.Katakana {
  display: flex;
  flex-flow: row wrap;
}

.KanaMiniCard {
  background: #fff;
  border-radius: 20px;
  color: #000;
  margin: 0 1%;
  margin-top: 1rem;
  padding: 0.5rem;
  text-align: center;
  flex: 1 1 16%;
}

.emptyCard {
  background: rgba(255, 255, 255, 0);
  border-radius: 20px;
  color: #000;
  margin: 0 1%;
  margin-top: 1rem;
  padding: 0.5rem;
  text-align: center;
  flex: 0 0 16%;
}

.KanaMiniCardKana,
.KanaMiniCardRomaji {
  font-size: 3.5vw;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 798px) and (min-width: 600px) {
  .KanaMiniCard {
    flex: 1 1 14%;
  }
}

@media screen and (max-width: 599px) {
  .KanaMiniCard {
    flex: 1 1 12%;
  }
}
