.KanjiCard {
  background: #fff;
  border-radius: 20px;
  color: #000;
  margin: auto;
  margin-top: 1rem;
  padding: 0.5rem;
  max-width: 100vw;
  text-align: left;
  width: fit-content;
}

.KanjiCardHeader {
  text-align: center;
}

.KanjiCardKanji {
  font-size: 5rem;
  margin: 0;
}

.KanjiCardMeaning {
  margin: 0;
}

.refreshRandom {
  background-color: #bf1919;
  border: solid 3px #bf1919;
  border-radius: 25px;
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
  margin: 0 auto;
  width: fit-content;
}
