.Navbar {
  background: #090645;
  padding: 0;
  text-align: left;
  width: auto;
}

a {
  color: #fff;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  list-style-type: none;
  margin-right: 1rem;
  text-decoration: none;
}

.ukanaLogo {
  margin: 1rem 0 0.4rem 1rem;
  width: 2rem;
}

.navLink {
  margin: 0;
}

.non-home {
  position: relative;
  bottom: 1rem;
  font-size: 1.2rem;
}

.gradedKanji {
  color: rgb(174, 152, 152);
  font-style: italic;
}

.numbered {
  border: solid 3px #fff;
  border-radius: 50%;
  height: 30px;
  text-align: center;
  width: 30px;
}

.numbered:hover {
  animation: numberHover 0.5s forwards;
}

@keyframes numberHover {
  from {
    background: #090645;
  }
  to {
    background: #346adf;
  }
}

.wordSearchInput {
  border: solid 0px;
  border-radius: 25px;
  font-family: "Noto Sans JP", sans-serif;
  height: 1.5rem;
  text-align: center;
}
